.signup-container {
    background-color: #D9D9D9;
    min-height: 700px;
    padding: 60px 40px;
    border-radius: 10px;
    width: 100%; 
    max-width: 1200px; 
    margin: 60px 0 60px 0px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.signup-container p {
    word-wrap: break-word;  
    width: 100%;  
    max-width: 500px;  
    margin: 0 auto;  
}

.signup-wrapper {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh; 
}

img {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

@media (max-width: 900px) {  
    .signup-container {
        width: 90%; 
        margin: 30px 10px;
    }
}

@media (max-width: 600px) {
    .signup-container {
        min-height: 300px;  
        padding: 40px 20px; 
        margin: 20px 5px;    
    }
}