.navbar-nav{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
}

.navbar nav-item nav-link{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}