/* Algemene body styling */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #F5EEDE; /* of een andere zachte kleur */
    color: #11130E;
    margin: 0;
    padding: 0;
}

/* Form elements */
input, button {
    font-family: inherit;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #7D7D7D;
    color: #fff;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="checkbox"] {
    background-color: #7D7D7D;  
    color: #fff;  
    border-radius: 20px;  
    border: none;  
    padding: 10px 15px;  
}

input::placeholder {
    color: #ccc;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-navbar {
    height: 100px;
    width: 100px;
    image-rendering: auto;
}